<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+SC:wght@200;500&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+SC:wght@200;500&display=swap');
    </style>

    <title>{{title}}</title>
</head>

<body>

    <nav>
        <div>
            <img src="https://images.unsplash.com/photo-1574158622682-e40e69881006?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                alt="logo">
            <p>Save Them!</p>
        </div>
        <ul>
            <li><a href="/animal"><span class="material-symbols-outlined">pets</span>ANIMALS</a></li>
            <li><a href="/volunteer"><span class="material-symbols-outlined">
                        accessibility_new
                    </span>VOLUNTEER</a></li>
            <li><a href="/user"><span class="material-symbols-outlined">
                        person
                    </span>USER</a></li>
        </ul>
        <div>
            <a href="">login</a>
            <a href="">logout</a>
        </div>
    </nav>

    {{{body}}}


</body>

</html>