<main class="container">
    <div class="container text-center">
        <h1>Upload a New Stray Animal Post</h1>
    </div>
    <form action="" method="POST" class="row container">

        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="animal_name">Name</label>
                <input class="form-control" type="text" name="animal_name" id="animal_name">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="species">Species</label>
                <select class="form-select" aria-label="Choose species">
                    <option value="1">Cat</option>
                    <option value="2">Dog</option>
                    <option value="3">Others</option>
                </select>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="health_condition">Health Condition</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="good" checked>
                    <label class="form-check-label" for="good">
                        Good (Uninjured, looks healthy)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="normal">
                    <label class="form-check-label" for="normal">
                        Normal (May need to provide food or have non-lethal injuries or illnesses, such as skin
                        diseases, parasites, etc.)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="bad">
                    <label class="form-check-label" for="bad">
                        Bad (Need to provide emergency medical treatment)
                    </label>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="description">Photo (Only three allow)</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="photo1">
                    <label class="input-group-text" for="photo1">Upload</label>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="photo2">
                    <label class="input-group-text" for="photo2">Upload</label>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="photo3">
                    <label class="input-group-text" for="photo3">Upload</label>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="col-12 btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</main>