<main class="container">
    <div class="container text-center">
        <h1>Upload a New Stray Animal Post</h1>
    </div>
    <form action="/animal/new" method="POST" class="row container" id="addAnimalForm" enctype="multipart/form-data">

        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6">
                <label for="animal_name">Name</label>
                <input class="form-control" type="text" name="animal_name" id="animal_name">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6 mb-3">
                <label for="species">Species</label>
                <select class="form-select" aria-label="Choose species" name="species" id="speciesSelecter">
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6 mb-3">
                <label for="health_condition">Health Condition</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="good" value="Good" checked>
                    <label class="form-check-label" for="good">
                        Good (Uninjured, looks healthy)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="normal" value="Normal">
                    <label class="form-check-label" for="normal">
                        Normal (May need to provide food or have non-lethal injuries or illnesses, such as skin
                        diseases, parasites, etc.)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="condition" id="bad" value="Bad">
                    <label class="form-check-label" for="bad">
                        Bad (Need to provide emergency medical treatment)
                    </label>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6 mb-3">
                <label for="location">Location</label>
                <input class="text form-control" name="location" id="location" cols="30" rows="5"
                    placeholder="40 Ravine Ave, Jersey City, New Jersey"></input>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6 mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <ul id="fileError"></ul>
                <input type="file" name="photo1" id="photo1" accept="image/*">
            </div>
            <div class="col-3"></div>
        </div>

        {{!-- <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-12 col-lg-6">
                <label for="description">Photo (Only three allow)</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="photo1" id="photo1" accept="image/*">
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="photo2" id="photo2" accept="image/*">
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="photo3" id="photo3" accept="image/*">
                </div>
            </div>
            <div class="col-3"></div>
        </div> --}}
        <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-12 col-lg-4 container text-center">
                <ul class="errorInfo">
                    {{#if error}}
                    <li>{{error}}</li>
                    {{/if}}
                </ul>
                <button class="col-12 btn btn-primary mb-3" type="submit" id="submitBtn">Submit</button>
                <a href="/user/usercenter/123">Back To User Center</a>
            </div>
            <div class="col-4"></div>
        </div>

        <script src="../public/js/addPostValidation.js"></script>
    </form>
</main>