<main class="container">
    <div class="container text-center">
        <h1>Upload a New Volunteer Infomation</h1>
    </div>
    <form action="" method="POST" class="row container">

        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="animal_name">Name</label>
                <input class="form-control" type="text" name="animal_name" id="animal_name">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="contact">Contact</label>
                <input class="form-control" type="text" name="contact" id="contact">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3 input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="type">Choose Volunteer Type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="organization" value="Organization"
                        checked>
                    <label class="form-check-label" for="organization">
                        Organization
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="individual" value="Individual">
                    <label class="form-check-label" for="individual">
                        Individual
                    </label>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-3  input-group">
            <div class="col-3"></div>
            <div class="col-6">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
            </div>
            <div class="col-3"></div>
        </div>

        <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="col-12 btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</main>