<main class="container text-center">
    <div class="row mb-3">
        <p class="col">Delete Success!</p>
    </div>
    <div class="row">
        <a href="user/usercenter/{{id}}">Back To User Center</a>
    </div>
</main>