<main class="main container text-center">
    <p class="row"> <span class="col"> You've Arrived In No Man's Land </span></p>
    <p class="row"> <span class="col"> {{errorMsg}} </span></p>
    <a href="/" class="row"><span class="col">Go Back </span></a>
</main>