<main class="loginPage">
    <div>
        <p class="logInText1">Did you know that there are 70 million stray animals in the United States?</p>
        <p class="logInText2">Of the massive population in shelters, just 3–4 million stray animals get adopted. </p>
    </div>
    <div>
        <form action="" method="POST">
            <p>Please LogIn</p>
            <label for="username">USER NAME</label>
            <input type="text" name="username">
            <label for="password">PASSWORD</label>
            <input type="password" name="password">
            <button type="submit">submit</button>
        </form>
    </div>
</main>