<main class="container text-center alertPage">
    <div class="row mb-3">
        <p class="col">{{logMsg}}</p>
    </div>
    <div class="row">
        <a href="/">Go To Main Page</a>
    </div>
</main>