<main class="main signIn">
    <p>JOIN US AND SAVE THE WORLD</p>
    <form action="" method="POST">
        <label for="firstname">Input your firstname</label>
        <input type="text" name="fistname">
        <label for="lastname">Input your lastname</label>
        <input type="text" name="lastname">
        <label for="firstname">Input your user account use for login</label>
        <input type="text" name="account">
        <label for="firstname">Input your password</label>
        <input type="password" name="password">
        <label for="firstname">Input your password again</label>
        <input type="password" name="passwordagain">
        <button type="submit">Submit</button>
    </form>
</main>