<main class="main userCenter">
    <p>{{title}}</p>
    <p>用户中心页面</p>
    <p>HELLO! {{first_name}} {{last_name}}</p>
    <a href="">Upload New Stray Animal</a>
    <a href="">Look what I Followed</a>
    <a href="">Look My Comments</a>
</main>