body {
    background-color: #0C3B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arvo', serif;
}

.main {
    height: 700px;
    width: 1000px;
    border-radius: 15px;
    overflow: scroll;
    margin-top: 50px;
    background-color: #cccccc;
}

.post {
    background-color: #dddcda;
    margin-top: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 50px;
    height: 700px;
    width: 1000px;
    border-radius: 15px;
    overflow: scroll;
}



nav {
    background-color: #6D9773;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    height: 10vh;
    width: 1000px;
    margin-top: 5%;
}

nav>div {

    flex-direction: column;
    width: 20%;
    display: flex;
    align-items: center;
}

nav>div>p {
    margin-top: -5px;
    font-size: 2em;
    color: #FFBA00;
}

nav>ul {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 210px;
}

nav>ul>li:hover {
    background-color: #455f49;
}

nav>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFBA00;
    height: 100%;
    width: 100%;
}



nav>div>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.postCard {
    border: #FFBA00 2px solid;
    background-color: #6D9773;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 15px;
    height: 400px;
    width: 200px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}


.postCard:hover {
    box-shadow: 5px 5px 5px rgb(57, 56, 56);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.postCard>img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.postCard>.infoArea {
    color: white;
    margin: 2px;
}

.loginPage {
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1597633544424-4da83804df40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-color: #cccccc;
    background-position: 45% 85%;
}

.loginPage>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.logInText1 {
    float: left;
    width: 300px;
    padding-bottom: 230px;
    padding-left: 30px;
}

.logInText2 {
    float: left;
    width: 300px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.loginPage>div>form {
    padding-left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
}

.signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signIn>form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    width: 50%;
}